.formDiv {
    margin-left: 100px;
    margin-bottom: 25px;
}

.signin {
    display: inline;
}

.txtSignin {
    margin: 10px;
}

.lead {
    margin-left: 43%;
    font-size: 40px;
}

.group {
    margin-left: 600px;
    margin-bottom: 50px;
}

.title {
    margin-left: 10%;
    margin-top: 5%;
}

#shelfItems {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 80%;
    margin-left: 10%;
}

#shelfItems td,
#shelfItems th {
    border: 1px solid #ddd;
    padding: 8px;
}

#shelfItems tr:nth-child(even) {
    background-color: #f2f2f2;
}

#shelfItems tr:hover {
    background-color: #ddd;
}

#shelfItems th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(38, 126, 226);
    color: white;
}

input {
    height: 30px;
}

.btnTxtSignin {
    height: 20px;
}

.frmShelf {
    margin-left: 650px;
    margin-bottom: 20px;
    float: left;
}

.bannerTitle {
    margin: 20px 0px 20px -100px;
}

.addUser {
    display: inline;
}

.dataForm {
    margin: 40px 0px 0px 300px;
    font-size: 20px;
}

.intro {
    margin-left: 100px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 80%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

/* tr:nth-child(even) {
    background-color: #dddddd;
} */

.instructions .container h1 {
    font-size: 24px;
    font-weight: 700;
}

.instructions {
    background-color: #333333;
    color: #DDDDDD;
}

#entryForm {
    margin-top: 14px;
}

#container {
    margin-top: 10px;
}

.container p {
    margin-top: 14px;
}

.message {
    padding: 10px 0;
}

.message p {
    margin-left: 10px;
}

.message:nth-child(odd) {
    background-color: #eeeeee;
}

.message:nth-child(even) {
    background-color: #f8f8f8;
}

.btn-danger {
    margin-left: 10px;
}

.navbar {
    background-color: #333333;
    width: 100%;
    border-radius: 0px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */

li a:hover {
    text-decoration: underline;
    color: #eee;
}