<!-- home html loads and the option to login or register is shown -->
<header ng-include="'/views/partials/header.login.html'"></header>

<div class="container">
    <!-- <h1 class="lead">Login</h1> -->
    <!-- <h1 class="alert alert-danger" role="alert" ng-if="vm.message != ''">{{vm.message}}</h1> -->
</div>

<body>
    <div class="grid shelfTable" layout="horizontal" layout-align="center center" layout-wrap>
        <h1 class="title">Shelved Items:</h1>
        <table id="shelfItems">
            <thead>
                <tr>
                    <th>Owner</th>
                    <th>Item description</th>
                    <th>Item</th>
                </tr>
            </thead>
            <tbody ng-repeat="items in vm.items.list">
                <tr>
                    <td>{{items.person[0].username}}</td>
                    <td>{{items.description}}</td>
                    <td>
                        <img ng-src="{{items.url}}" alt="">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>