<div ng-include="'views/partials/nav.html'"></div>
<div class="container">
    <!-- here the user has the option to use the app or logout -->
    <h1 id="welcome" class="lead">Welcome, {{vm.userObject.userName}}!</h1>
    <button class="btn btn-default" ng-click="vm.userService.logout()">Log Out</button>
</div>
<div class="addUser">
    <form class="frmShelf">

        User name:
        <br>
        <input type="text" name="username">
        <br> Description:
        <br>
        <input type="text" name="description">
        <br> URL:
        <br>
        <input type="text" name="url">
        <br>
    </form>
    <div>
        <table class="tblShelf">
            <tr>
                <th>User</th>
                <th>Description</th>
                <th>URL</th>
            </tr>
            <tr>
                <td>Alfreds Futterkiste</td>
                <td>picture of Dane</td>
                <td>www.dane.com</td>
            </tr>
        </table>
    </div>

</div>